
<header id="page-header">
  <h1>Dashboard</h1>
  <div id="user-info">
    <span class="user-avatar" style="background-image: url(<%- user.avatar %>);"></span>
    <span class="user-name"><%- user.name %></span>
    <div class="user-logout">
      <a class="btn" href="/auth/logout">Logout</a>
    </div>
  </div>
</header>

<div id="content-wrap">
  <div id="main">
    <header class="section-header">
      <h2 class="section-title">Repositories</h2>

      <!-- 
      <div class="filter-wrap">
        <a class="filter-btn btn" href="#">Filter<span class="filter-arrow"></span></a>
        <ul class="filter-dropdown dropdown-list">
          <li><a href="#">Sort by Issue Total</a></li>
          <li><a href="#">Sort by repo name</a></li>
          <li><a href="#">Sort by recent activity</a></li>
        </ul>
      </div> 
      -->
    </header>
    
    <% if (repos.length === 0) {%>
      <h3 class="warn">You are not tracking any repositories in gitdo. Go to <a href="/repos">Manage Repositories</a> to add some.</h3>
    <% } %>

    <ul class="list">
      <% for (var i = 0; i < repos.length; i++) {%>
        <li>
          <a href="/dashboard/<%- repos[i].name %>" class="list-item-header">
            <h3 class="list-heading"><%- repos[i].name %></h3>
            <span class="repo-issue-total"><%- repos[i].issueTotal %></span>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
