
<header id="page-header">
  <h1>Repo Name Here</h1>
  <div id="user-info">
    <span class="user-avatar" style="background-image: url(<%- user.avatar %>);"></span>
    <a class="user-name" href="#"><%- user.name %> <span class="icon-arrow-down"></span></a>
    <div class="user-logout">
      <a class="btn" href="/auth/logout">Logout</a>
    </div>
  </div>
</header>

<div id="content-wrap">
  <div id="main">
    <header class="section-header">
      <h2 class="section-title">Open Issues</h2>
    </header>
    
    <ul class="issue-list list">
      <% for (var i = 0; i < issues.length; i++) {%>
        
        <li>
          <header>
            <a href="#" class="list-item-header">
              <h3 class="list-heading"><%- issues[i].name %></h3>
              <span data-date="<%- issues[i].github.created_at %>" class="issue-date timestamp">created </span>
            </a>
          </header>

          <div class="issue-details">
            <ul class="issue-meta">
              <li><span class="issue-meta-label">Branch Name</span> <%- issues[i].branch %></li>
              <li><span class="issue-meta-label">File Name</span> <%- issues[i].filename %></li>
              <li><span class="issue-meta-label">Line Number</span> #<%- issues[i].line %></li>
            </ul>
            <div class="issue-desc">
              <span class="issue-meta-label">Issue description</span>
              <p><%- issues[i].github.body %></p>
            </div>
            <div class="clear"></div>
            <div class="issue-footer">
              <a href="#" class="issue-footer-btn btn">Mark as resolved</a>
              <a href="<%- issues[i].srcLink %>" class="issue-footer-btn btn btn-primary" target="_blank">View source</a>
            </div>
          </div>

        </li>
        
      <% } %>
    </ul>
  </div>
</div>
